body{
    padding: 0px;
    margin: 0px;
}

.midcontent{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    justify-items: stretch;
    background-color: brown;
    height: min-content;
    padding-top: 80px;
    padding-bottom: 80px;
}

.midcontent > div{
    grid-column: 2;
}

.productbar{
    height: 45px;
    background-color: purple;
    margin-bottom: 20px;
}

.featured{
    background-color: lightpink;

    display: grid;
    grid-template-columns: 1fr 56% 1fr 28% 1fr;
    grid-template-rows: 40px 146px 20px 146px 20px 146px 40px;
    justify-items: stretch;
    align-items: stretch;
}

.featured_options_a{
    grid-column: 4;
    grid-row: 2;
    background-color: lightseagreen;
}

.featured_options_b{
    grid-column: 4;
    grid-row: 4;
    background-color: lightseagreen;
}

.featured_options_c{
    grid-column: 4;
    grid-row: 6;
    background-color: lightseagreen;
}

.featured_window{
    grid-column: 2;
    grid-row: 2/ span 5;
    background-color: purple;
}

.bestof{
    height: 150px;
    background-color: coral;
    border-bottom: 2px solid gray;

    padding-top: 20px; /*tijdelijk*/
    padding-bottom: 20px; /*tijdelijk*/
}

.searchpathlinks{
    height:400px;
    background-color: green;
    padding-right: 40px;
    padding-left: 40px;
}

.searchpathlinks h1{
    text-align: center;
    justify-content: center;
}

.linktab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
}

.linkoptions > div{
    background-color: lightseagreen;
}

.linkoptions{

    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: 150px;
    column-gap: 20px;
    row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;

}

.slider{
    display: flex;
    align-items: center;
    margin-top: 17px; /*Zou tijdelijk moeten zijn omdat ik vaste maten heb gebruikt*/
}

.slider > .slidecontent{
    display: block;
    width: 90%;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.slider> .slidecontent > ul{
    min-width: max-content;
    max-height: min-content;
    white-space: nowrap;
}

.slidecontent > ul > li{
    float: left;
    width: 100px;
    height: 80px;
    background-color: black;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.vis{
    display: grid;
}

.nvis{
    display: none;
}

.next_arrow{
    height:30px;
    width: 30px;
    background-color: blue;
    margin-left: 20px;
    margin-right: 20px;
}

.prev_arrow{
    height:30px;
    width: 30px;
    background-color: blue;
    margin-left: 20px;
    margin-right: 20px;
}

