/* .cartbutton{
    display: grid;
    grid-template-columns: 26px 80px;
    grid-template-rows: 50px;
    justify-items: right;
    align-items: stretch;
    height: max-content;
    width: max-content;
    margin-left: -13px;
}
.add_cart, .increment_button{
    grid-column: 2;
    grid-row: 1;
    display: block;
    width: 80px;
    border: none;
    margin: 0px;
    border: 1px solid brown;

    background-color: orange;
}
.remove_cart, .decrement_button{
    grid-column: 1;
    grid-row: 1;
    display: block;
    width: 0px;
    padding: 0px;
    border: none;
    margin: 0px;


    background-color: orange;
}
.cartbutton:hover .decrement_button{
    background-color: rgb(253, 65, 32);
    border-top: 1px solid rgb(126, 0, 0);
    border-left: 1px solid rgb(126, 0, 0);
    border-bottom: 1px solid rgb(126, 0, 0);
    width: 100%;
    transition: width 0.6s, background-color 1s;
}

.cartbutton:hover{
    margin-left: 0px;
    transition: margin 0.6s;
}

.cartbutton:hover .increment_button{
    border-left: 0px;
}

.cartbutton:hover .decrement_button:hover{
    background-color: rgb(148, 5, 0);
    transition: background-color 0s;
}

.increment_button:hover{
    background-color: rgb(230, 142, 0);
} */


.cartbutton_simple{
    background-color: rgba(142, 23, 23, 0.1);
    border: 4px solid rgb(126, 4, 0);
    color: rgb(36, 5, 5);
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.05em;
}