.midcontent{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    justify-items: stretch;
    background-color: brown;
    height: min-content;
}

.midcontent div{
    grid-column: 2;
}

.productbar{
    height: 10px;
    background-color: purple;
}

.bestof{
    height: 80px;
    background-color: coral;
}

.searchpathlinks{
    height:400px;
    background-color: green;
}
